# ignore build artifacts

# automake
m4/*
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
missing
ltmain.sh
libtool
stamp-h1
install-sh
Makefile
src/Makefile
coldboot/Makefile
Makefile.in
src/Makefile.in
coldboot/Makefile.in

# sdcc
*.asm
*.ihx
*.lk
*.lst
*.map
*.noi
*.rel
*.sym

# gcc
*.o
.deps/

# binaries
coldboot/coldload.bin
coldboot/coldload.no3.bin
coldboot/makecold
examples/*/*.bin
src/openrabbit
